/* global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    margin: 0.5rem;
    background: #eee;
    font-family: 'Roboto', sans-serif;
}


/*shared class and id styles*/
.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

header {
    position:fixed;
    top: 0;
    left: 0;
    background: rgb(69 42 149 / 1);
    color: #fff;
}

#nav-bar a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

footer {
    color: #666;
}

h1 {font-size: 2.4rem;
    margin-bottom: 0.5rem;
}

h2, figcaption {font-size: 2rem;}

h3 {font-size: 1.75rem;}

p, li, label {font-size: 1.5rem} 

li {list-style-type: none;}

h1, h2, h3 {font-family: 'Merriweather', serif;}

figcaption {font-family: 'Palette Mosaic', cursive;}


/*styling for mobile devices*/
@media screen and (max-width: 576px) {
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    figure {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    figcaption {
        margin-top: 0.15rem;
    }

    #nav-bar {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    #nav-bar li {
        padding: 0 0 0.25rem;
    }

    main {
        padding: 0.5rem;
        margin-top: 15rem!important;
        display: flex;
        flex-flow: column;
    }

    #hero {
        padding: 0.5rem;
        text-align: center;
    }

    #features, #pricing {
        padding: 1rem;
    }

    .grid {
        margin: 1rem 0;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .icon {
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .legend {
        margin-left: 0.5rem;
    }
    
    #video {
        width: 100%;
        padding: 1rem;
        margin: 3rem 0;
    }

    #pricing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .price-box {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3rem;
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
    }
    
    .price-box img {
        width: 80%;
        margin-top: 1rem;
        padding: 0.5rem;
    }

    .price-box h3 {
        padding: 0.5rem;
        text-transform: uppercase;
    }

    .price-box li {
        padding: 0.75rem;
        border: 1px dotted grey;
        font-size: 1.5rem;
    }

    .btn { 
        margin: 1rem 0;
        padding: 0.4rem;
    }

    #form {
        width: 75%;
        padding: 1rem;
        margin: auto;
    }

    form div {
        padding: 0.5rem;
        margin: 0.5rem;
    }

    input {
        width: 100%;
        padding: 0.75rem;
        margin: 0.5rem 0;
        border: 1px;
        border-radius: 5px;
    }
    
    #button-div {
        display: flex;
        flex-direction: row;
    }

    .empty {
        flex-grow: 1;
    }
    
    button {
        padding: 0.75rem;
        margin: 0.5rem;
        flex-grow: 1;
        border: 3px double #555;
        border-radius: 10%;
        font-size: 1.6rem;
        font-weight: 600;
        color: #452a95;
    }

    #contact ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
    }
    
    #contact li {
        display: inline;
        padding: 0.5rem;
        font-size: 1.25rem;
    }
    
    #contact p {
        float: right;
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
    }
}


/*styling for larger screens*/
@media screen and (min-width: 577px) {
    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #logo {
        width: 55vw;
        margin-left: 3rem;
        display: flex;
        flex-flow: row nowrap;
    }

    #header-img {
        margin-right: rem;  
    }
    
    figcaption {
        margin-top: 2rem;
    }
    
    #nav-bar {
        width: 40vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
    }
    
    #nav-bar li {
        margin: 0.5rem;
        margin-top: 1.2rem;
    }

    main {
        margin-top: 10rem!important;
    }

    #hero {
        padding: 1rem;
        text-align: center;
    }

    #features{
        padding: 2.5rem;
    }
    
    .grid {
        padding: 1rem;
        padding-right: 3rem;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
    
    .icon{
        margin: 2rem;
    }

    #iframe-container {
        padding: 3rem;
        margin-bottom: 5rem;
    }

    #video {
        width: 100%;
    }
    
    #pricing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .price-box {
        width: 60%;
        margin: 0 ;
        margin-bottom: 3rem;
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
    }
    
    .price-box img {
        width: 80%;
        margin-top: 1rem;
        padding: 0.5rem;
    }

    .price-box h3 {
        padding: 0.5rem;
        text-transform: uppercase;
    }

    .price-box li {
        padding: 0.75rem;
        border: 1px dotted grey;
        font-size: 1.5rem;
    }

    .btn { 
        margin: 1rem 0;
        padding: 0.4rem;
    }

     #form {
        width: 75%;
        max-width: 600px!important;
        padding: 1rem;
        margin: 2rem auto;   
    }

    form div {
        padding: 1rem;
        margin: 0.5rem 5rem;
    }
    
    input {
        display: block;
        width: 100%;
        max-width: 45rem;
        padding: 1rem;
        margin: 0.5rem auto;
        border: 1px;
        border-radius: 5px;
    }
    
    #button-div {
        display: flex;
        flex-direction: row;
    }

    .empty {
        flex-grow: 1;
    }
    
    button {
        padding: 0.75rem;
        margin: 0.5rem;
        flex-grow: 2;
        border: 3px double #555;
        border-radius: 10%;
        font-size: 1.6rem;
        font-weight: 600;
        color: #452a95;
    }    

    #contact ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
    }
    
    #contact li {
        display: inline;
        padding: 0.5rem;
        font-size: 1.25rem;
    }
    
    #contact p {
        float: right;
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
    }
}


@media screen and (min-width: 780px) {
    #pricing {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;    
    }

    .price-box {
        width: 100%;
        margin: 1rem;
    }
    
    .price-box>div>img {
        height: 178px;
        width: 90%;
    }
    
    #contact {
        width: 90%;
    }
    
}